<div class="ideas">
    <h3 class="main__title main__title--modific">Discover holiday activity ideas</h3>
    <div class="grid clearfix">
        <div class="grid-item grid-item--bg1"><span class="puzzle-title">Sport and Activity</span></div>
        <div class="grid-item grid-item--bg2"><span class="puzzle-title">Wellnes and Health</span></div>
        <div class="grid-item grid-item--bg3"><span class="puzzle-title">Extreme Sports<br>and Expeditions</span></div>
        <div class="grid-item grid-item--bg4"><span class="puzzle-title">Games</span></div>
        <div class="grid-item grid-item--width2 grid-item--bg5"><span class="puzzle-title">Culture and Education</span></div>
        <div class="grid-item grid-item--width2 grid-item--bg6"><span class="puzzle-title">Relaxation</span></div>
        <div class="grid-item grid-item--bg7"><span class="puzzle-title">Travelling</span></div>
    </div>
</div>
