<div class="header clearfix">
    <div class="clearfix">
        <div class="sign-form">
            <button class="sign-form__btn" type="button" name="log-in">Log in</button>
            <button class="sign-form__btn sign-form__btn--border" type="button" name="sign-up">Sign up</button>
        </div>
        <div class="name">URLAUBSGLÜCK</div>
    </div>
    <div class="header-title">
        <h2 class="header-title__header">Share your<br>holiday dreams</h2>
        <p class="header-title__paragraph">And find the perfect partner to fullfill it</p>
    </div>
    <button class="btn" type="button" name="go">Find your holiday partner</button>
</div>
