<h3 class="main__title main__title--modific">Meet a partner for your best holiday</h3>
<div class="partners_wrapp clearfix">
    <div class="partners">
        <div class="partners__img">
            <img src="img/prt1.png" />
            <span class="icon"></span>
        </div>
        <h4 class="partners__name">Bradley Hunter</h4>
        <p class="partners__message">Based in Chicago. I love playing tennis and loud music.</p>
    </div>
    <div class="partners">
        <div class="partners__img">
            <img src="img/prt3.png" />
            <span class=" icon icon--second"></span>
        </div>
        <h4 class="partners__name">Lucas Marsha</h4>
        <p class="partners__message">I get my inspiration from nature and objects around me. I have a passion to colours, typography and skateboards.
        </p>
    </div>
    <div class="partners">
        <div class="partners__img">
            <img src="img/prt2.png" />
            <span class=" icon icon--third"></span>
        </div>
        <h4 class="partners__name">Heather Walker</h4>
        <p class="partners__message">I'm a happy person that loves cats and climbing on mountains.</p>
    </div>
    <div class="partners">
        <div class="partners__img">
            <img src="img/prt4.png" />
            <span class=" icon icon--forth"></span>
        </div>
        <h4 class="partners__name">Bradley Hunter</h4>
        <p class="partners__message">Based in Chicago. I love playing tennis and loud music.</p>
    </div>
</div>
<button class="btn btn--partners" type="button" name="other">See other partners</button>
</div>
