<div class="main">
    <h3 class="main__title">How Urlaubsglück works?</h3>
    <div class="main-wrapp clearfix ">
        <div class="post post--first">
            <div class="post__content post__content--mobile">
                <div class="post__step">Step 1</div>
                <h3 class="post__header">Sed leo enim,<br>condimentum</h3>
                <p class="post__paragraph">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
            </div>
            <div class="flexslider">
                <ul class="slides">
                    <li>
                        <div class="post__content">
                            <div class="post__step">Step 1</div>
                            <h3 class="post__header">Sed leo enim,<br>condimentum</h3>
                            <p class="post__paragraph">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
                        </div>
                    </li>
                    <li>
                        <div class="post__content">
                            <div class="post__step">Step 2</div>
                            <h3 class="post__header">Morbi velit risus</h3>
                            <p class="post__paragraph">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p>
                        </div>
                    </li>
                    <li>
                        <div class="post__content">
                            <div class="post__step">Step 3</div>
                            <h3 class="post__header">Sed leo enim,<br>condimentum</h3>
                            <p class="post__paragraph">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="post post--second">
            <div class="post__content post__content--mobile">
                <div class="post__step">Step 2</div>
                <h3 class="post__header">Morbi velit risus</h3>
                <p class="post__paragraph">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p>
            </div>
            <div class="flexslider">
                <ul class="slides">
                    <li>
                        <div class="post__content">
                            <div class="post__step">Step 2</div>
                            <h3 class="post__header">Morbi velit risus</h3>
                            <p class="post__paragraph">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p>
                        </div>
                    </li>
                    <li>
                        <div class="post__content">
                            <div class="post__step">Step 3</div>
                            <h3 class="post__header">Sed leo enim,<br>condimentum</h3>
                            <p class="post__paragraph">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
                        </div>
                        <li>
                            <div class="post__content">
                                <div class="post__step">Step 1</div>
                                <h3 class="post__header">Sed leo enim,<br>condimentum</h3>
                                <p class="post__paragraph">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
                            </div>
                        </li>
                    </li>
                </ul>
            </div>
        </div>
        <div class="post post--third">
            <div class="post__content post__content--mobile">
                <div class="post__step">Step 3</div>
                <h3 class="post__header">Sed leo enim,<br>condimentum</h3>
                <p class="post__paragraph">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
            </div>
            <div class="flexslider">
                <ul class="slides">
                    <li>
                        <div class="post__content">
                            <div class="post__step">Step 3</div>
                            <h3 class="post__header">Sed leo enim,<br>condimentum</h3>
                            <p class="post__paragraph">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
                        </div>
                    </li>
                    <li>
                        <div class="post__content">
                            <div class="post__step">Step 1</div>
                            <h3 class="post__header">Sed leo enim,<br>condimentum</h3>
                            <p class="post__paragraph">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
                        </div>
                    </li>
                    <li>
                        <div class="post__content">
                            <div class="post__step">Step 2</div>
                            <h3 class="post__header">Morbi velit risus</h3>
                            <p class="post__paragraph">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
